.game-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    align-items: center;
}

.result-message {
    font-size: 1.5rem;
}